<h1>Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li class=list><%= link_to restaurant.name, restaurant_path(restaurant) %>
    <p> <%= restaurant.category %> </p>
  <% end %>
</ul>
